# removed for security purposes
firebase.json

.DS_Store

# removed bootstrap libs
css/**
fonts/**
js/**

testing.js

# bower stuff
bower.json
bower_components

*.jpg
*.jpeg

#node stuff
node_modules
